allow dumpstate app_data_file:fifo_file getattr;
allow dumpstate iop_socket:sock_file unlink;
allow dumpstate iop_data_file:sock_file { setattr create };

allow dumpstate dalvikcache_data_file:dir r_dir_perms;
allow dumpstate dalvikcache_data_file:file r_file_perms;