<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2021 Paranoid Android
     SPDX-License-Identifier: MIT
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.theme.font.inter">

    <overlay
        android:category="android.theme.customization.font"
        android:priority="600"
        android:targetPackage="android" />

    <application android:label="@string/font_inter_overlay">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="inter,inter-medium" />
    </application>
</manifest>
