type aospa_hub, domain, coredomain;

app_domain(aospa_hub)
net_domain(aospa_hub)

binder_call(aospa_hub, gpuservice)
binder_call(aospa_hub, update_engine)

allow aospa_hub app_api_service:service_manager find;
allow aospa_hub recovery_service:service_manager find;
allow aospa_hub system_api_service:service_manager find;
allow aospa_hub update_engine_service:service_manager find;

allow aospa_hub app_data_file:dir create_dir_perms;
allow aospa_hub app_data_file:{ file lnk_file } create_file_perms;

allow aospa_hub cache_file:dir r_dir_perms;

allow aospa_hub cache_recovery_file:dir rw_dir_perms;
allow aospa_hub cache_recovery_file:file create_file_perms;

allow aospa_hub ota_package_file:dir create_dir_perms;
allow aospa_hub ota_package_file:file create_file_perms;

get_prop(aospa_hub, default_prop)
get_prop(aospa_hub, exported2_default_prop)
