type hal_aospa_fod_default, coredomain, domain;
hal_server_domain(hal_aospa_fod_default, hal_aospa_fod)

type hal_aospa_fod_default_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_aospa_fod_default)
