# Allow FOD HAL service to be found.
hal_client_domain(platform_app, vendor_fod)
binder_call(platform_app, vendor_fod_aospa)

# Allow platform applications to find the NFC service.
allow platform_app nfc_service:service_manager find;
