<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2021 Paranoid Android
     SPDX-License-Identifier: MIT
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.theme.color.teal">

    <overlay
        android:category="android.theme.customization.accent_color"
        android:priority="600"
        android:targetPackage="android" />

    <application
        android:label="@string/accent_color_teal_overlay" />
</manifest>
