type pocket_judge_sysfs, fs_type, sysfs_type;
type adbroot_data_file, file_type, data_file_type, core_data_file_type;

# DC Dimming
type sysfs_dc_dim, fs_type, sysfs_type;
