<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2021 Paranoid Android
     SPDX-License-Identifier: MIT
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.settings.overlay">

    <overlay
        android:isStatic="true"
        android:priority="600"
        android:targetPackage="com.android.settings" />
</manifest>
