# Paranoid Android Extras

on init
    export ANDROID_CACHE /cache

on boot
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler

    chown system system /sys/block/sda/queue/scheduler
    chmod 0664 /sys/block/sda/queue/scheduler

    chown system system /sys/block/sde/queue/scheduler
    chmod 0664 /sys/block/sde/queue/scheduler

    chown system system /sys/block/dm-0/queue/scheduler
    chmod 0664 /sys/block/dm-0/queue/scheduler

# allow system to communicate pocket state
    chown system system /sys/kernel/pocket_judge/inpocket

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# Configure IO scheduler
on property:sys.io.scheduler=*
    write /sys/block/mmcblk0/queue/scheduler ${sys.io.scheduler}
    write /sys/block/sda/queue/scheduler ${sys.io.scheduler}
    write /sys/block/sde/queue/scheduler ${sys.io.scheduler}
    write /sys/block/dm-0/queue/scheduler ${sys.io.scheduler}

on property:persist.sys.io.scheduler=*
    setprop sys.io.scheduler ${persist.sys.io.scheduler}
